{% extends "main/base.html" %}
{% block content %}


<div class="row">
    <div class="form-group col-md-10">
        <h3>{{ object.applicant.first_name |capfirst }} {{ object.applicant.first_name |capfirst}} Application
            Details</h3>
        <p> Email: {{ object.applicant.email }} Phone Number:{{ object.phone_number }}
            <span><small style="text-muted">Submited on {{ object.submission_date| date:"F d, Y" }}</small></span>
        </p>
        <p>User Address: {{ object.user_address |capfirst }}</p>
        <p><a href="http://localhost:8000{{object.national_id.url }}">National ID</a></p>
        <p><a href="http://localhost:8000{{object.birth_certificate.url }}">Birth Certificate</a></p>
    </div>
    {% if form %}
    {% load crispy_forms_tags %}
    <div class="form-group col-md-2">
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}


            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update approval</button>
            </div>
        </form>
    </div>
        {% endif %}
    </div>



<div class="row">
    <p>{{ object.school_name| capfirst}}</p>
    <p>{{ object.school_address| capfirst}} </p>
    <p>{{ object.accademic_level }}</p>
    <p>{{ object.expected_completion_date |date:"F dd, Y" }}</p>

    </div>
<div class="row">
    <p><a href="{{object.recommendation_letter.url}}">Recommendation Letter</a><br></p>
    <p>{{ object.moltivation }}</p>

</div>

    {% endblock %}
