{% extends "main/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    {% for group in user.groups.all %}
            {%if group|stringformat:"s" == "sponsor" %}
            <h3><a>View Recent applications</a></h3>

            {%elif group|stringformat:"s" == "applicant" %}
            <h3><a href="#">Apply for Sponsorship </a></h3>
            here goes applicant
{% for app in user.applications.all %}
{{app}}
{% endfor %}
            {%endif%}

    {% endfor %}

{% else %}

<a href="{% url 'register-applicant' %}">Apply for Sponsorship</a><br>
<a href="">Admin Page</a><br>
<a href="{% url 'register-applicant' %}">Sponsors Page</a>

{%  endif %}

{% endblock content %}